<product-detail-request class="request-item">
  <a
    href="javascript:void(0)"
    data-product-id="{{ product.id }}"
    data-request-id="{{ iconRequest['request-id'] }}"
    data-request-method="{{ iconRequest['request-method'] }}"
    data-request-title="{{ iconRequest['request-title'] }}"
  >
    <p class="request-icon">
      <img
        class="off"
        src="{{ iconRequest['src-off'] }}"
        alt="{{ iconRequest['request-title'] }}"
      />
      <img
        class="on"
        src="{{ iconRequest['src-on'] }}"
        alt="{{ iconRequest['request-title'] }}"
      />
    </p>
    <span>{{ iconRequest['request-title'] }}</span>
    <p class="request-finish-txt">{{ iconRequest['request-finish-txt'] }}</p>
  </a>
</product-detail-request>
